site_name: {{ cookiecutter.project_slug }}

site_url: https://{{ cookiecutter.github_username }}.github.io/{{ cookiecutter.project_slug }}

repo_url: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}

theme:
    palette:
        scheme: preference
    name: material
    icon:
        repo: fontawesome/brands/github
    features:
        - navigation.instant
        - search.highlight
        # - navigation.expand
        # - navigation.tabs
    custom_dir: "docs/overrides"

plugins:
    - search
    - mkdocstrings
    - git-revision-date
    - mkdocs-jupyter:
          include_source: True
          # execute: True
          
markdown_extensions:
    - attr_list
    - pymdownx.superfences
    - pymdownx.highlight:
          linenums: true
    - toc:
          permalink: true

# google_analytics:
#     - UA-XXXXXXXXX-X
#     - auto

nav:
    - Home: index.md
    - Installation: installation.md
    - Usage: usage.md
    - Contributing: contributing.md
    - FAQ: faq.md
    - Report Issues: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}/issues
    - API Reference:
          - {{ cookiecutter.project_slug }} module: {{ cookiecutter.project_slug }}.md
